@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=cyrillic-ext,latin,greek-ext,latin-ext,vietnamese);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;
  width: 100%;

  color: white;

  h1 {
    font-size: 3em;
  }

  .search {
    max-width: 300px;
    margin: 0 auto;
  }

  .md-raised {
    margin: 0 10px;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
